#ignore all kind of files
*


#except ipython & python files
!*.ipynb
!*.pygit push 

#except c++ files
!*.cpp
!*.h
#!CMakeLists.txt

# But not these files...
!.gitignore
!*.md
!*.png
!*.gif

# ...even if they are in subdirectories
!*/
!images

#finally ignore following dirs!
build
bin

