#ignore all kind of files
*
build/*

#except ipython & python files
!*.ipynb
!*.py

#except c++ files
!.cpp
!.h
!CMakeLists.txt

# But not these files...
!.gitignore
!*.md

# ...even if they are in subdirectories
!*/

